// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #eee5e5;
    margin: 0px;
}
.navbar{
    margin: 0px;
    background-color: #19647e;
    color: #eee5e5;  
}

.nav-link:hover{
    background-color: #0f3744;
    color: #b9b1b1;
}

.nav-link{
    color: #eee5e5;
}

.headings a{
    text-decoration: none;
    color: #eee5e5;
    display: inline-block;
    text-align: center; 
    margin: 0 45px;
    height: 100%;
}
.dropdown{
    display: inline-block;
    color: $body-bg;
}
.dropdown-content{
    display: none;
    position: absolute;
}
.dropdown-content a{
    
    background-color: #28afb0;
}
.dropdown-content a:hover{
    background-color: #19647e;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.btn{
    background-color: $tealdark;
}
 
.card{
    background-color: #DDCECD;
}


.pCentre{
    h1{
        text-align: center; 
        color: #19647e;
    }
}

.profileImg{
    border-radius: 200px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 50px;
}
.profile{
    width: 50%;
    margin: 50px auto 100px auto;
    padding: 20px 50px;
    text-align: left;
    color: #37392e;
    border: solid 1px;
    border-color: #ddcecd;
    background-color: white;
}
.pCenter{
    text-align: center;
}
.pContent{
    padding: 30px;
    border-bottom: solid 1px;
    border-color: #ddcecd;
}
.edit{
    float: right;
    border: solid 1px #28afb0;
    background-color: #19647e;
    color: #eee5e5;
    border-radius: 300px;
    padding: 7px;
    text-align: center;
}
/*footer*/
footer{
    background-color: #19647e;
    color: #eee5e5;
    height: 200px;
    
   
}

.eContainer{
    width:50%;
    margin: 50px auto 100px auto;
    padding: 20px 50px;
    text-align: center;
    background-color: white;
}
.input1{
    width: 100%;
    height: 20px;
}
.eButton{
    border: solid 1px #28afb0;
    background-color: #19647e;
    color: #eee5e5; 
    margin-top: 30px;
    padding: 10px 20px;
}

.eGraph{
    width: 50%;
    display: block;
    margin: 50px auto;
}
